@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    font-family: "bely", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: "bely", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -3px;
  }
}

/* Bely Display Regular
font-family: "bely-display", sans-serif;
font-weight: 400;
font-style: normal;
Bely Regular
font-family: "bely", serif;
font-weight: 400;
font-style: normal;
Bely Italic
font-family: "bely", serif;
font-weight: 400;
font-style: italic;
Bely Bold
font-family: "bely", serif;
font-weight: 700;
font-style: normal;
Bely Bold Italic
font-family: "bely", serif;
font-weight: 700;
font-style: italic; */